<!DOCTYPE html>
<html lang="en">
<head>
	<title>Done - Usuários</title>
	{{> meta}}
	{{> stylesheet}}
</head>

<body class="navbar-fixed sidebar-nav fixed-nav {{^profile.attributes.isAdmin}}aside-menu-open{{/profile.attributes.isAdmin}}">
	{{> header}}
	{{> menu}}

    <main class="main">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Usuários</li>
        </ol>

        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Usuários
                            </div>
                            <div class="card-block">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Usuário</th>
                                            <th>Data registro</th>
                                            <th>Licença</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Diego Mottini</td>
                                            <td>10/12/2016</td>
                                            <td>Large</td>
                                            <td>
                                                <span class="tag tag-success">Ativo</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Marcio Atalla</td>
                                            <td>04/01/2017</td>
                                            <td>Medium</td>
                                            <td>
                                                <span class="tag tag-success">Ativo</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Rodrigo de Souza Nunes</td>
                                            <td>28/12/2016</td>
                                            <td>Small</td>
                                            <td>
                                                <span class="tag tag-default">Inativo</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">&larr;</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">4</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">&rarr;</a>
                                        </li>
                                    </ul>
                                    <div class="pagination pull-right">
                                    	<a href="/admin/user" class="btn btn-primary">Novo usuário</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                </div>
			</div>
        </div>
    </main>

	{{^profile.attributes.isAdmin}}
		{{> sidebar}}
	{{/profile.attributes.isAdmin}}		
	{{> footer}}
	{{> javascript}}
</body>
</html>