<!DOCTYPE html>
<html lang="en">
<head>
	<title>Done Admin - Licenças</title>
	{{> meta}}
	{{> stylesheet}}
</head>

<body class="navbar-fixed sidebar-nav fixed-nav">
	{{> header}}
	{{> menu}}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item active">Licenças</li>
        </ol>

        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        .
                    </div>
                </div>
            </div>
        </div>
    </main>

	{{> footer}}
	{{> javascript}}
</body>
</html>