<!DOCTYPE html>
<html lang="en">
<head>
	<title>Done - Dashboard</title>
	{{> meta}}
	{{> stylesheet}}
</head>

<body class="navbar-fixed sidebar-nav fixed-nav {{^profile.attributes.isAdmin}}aside-menu-open{{/profile.attributes.isAdmin}}">
	{{> header}}
	{{> menu}}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="container-fluid">
            <div class="animated fadeIn">
			    <div class="row">
			        <div class="col-sm-6 col-lg-3">
			            <div class="card card-inverse card-primary">
			                <div class="card-block pb-0">
				            	<button type="button" class="btn btn-transparent active p-0 float-xs-right">
				                    <i class="icon-film"></i>
				                </button>
			                    <h4 class="mb-0">9.823</h4>
			                    <p>Exercícios publicados</p>
			                </div>
			            </div>
			        </div>
			        <!--/col-->

			        <div class="col-sm-6 col-lg-3">
			            <div class="card card-inverse card-info">
			                <div class="card-block pb-0">
			                    <button type="button" class="btn btn-transparent active p-0 float-xs-right">
			                        <i class="icon-notebook"></i>
			                    </button>
			                    <h4 class="mb-0">18</h4>
			                    <p>Treinos programados</p>
			                </div>
			            </div>
			        </div>
			        <!--/col-->

			        <div class="col-sm-6 col-lg-3">
			            <div class="card card-inverse card-warning">
			                <div class="card-block pb-0">
			                    <div class="btn-group float-xs-right">
			                        <button type="button" class="btn btn-transparent active p-0">
			                            <i class="icon-layers"></i>
			                        </button>
			                    </div>
			                    <h4 class="mb-0">2</h4>
			                    <p>Turmas</p>
			                </div>
			            </div>
			        </div>
			        <!--/col-->

			        <div class="col-sm-6 col-lg-3">
			            <div class="card card-inverse card-danger">
			                <div class="card-block pb-0">
			                    <div class="btn-group float-xs-right">
			                        <button type="button" class="btn btn-transparent active p-0">
			                            <i class="icon-people"></i>
			                        </button>
			                    </div>
			                    <h4 class="mb-0">4</h4>
			                    <p>Alunos</p>
			                </div>
			            </div>
			        </div>
			        <!--/col-->

			    </div>
			    <!--/row-->

			    <div class="row">
			        <div class="col-md-12">
			            <div class="card">
			                <div class="card-header">
			                    Finanças
			                </div>
			                <div class="card-block">
			                    <div class="row">
			                        <div class="col-sm-12 col-lg-12">
			                            <div class="row">
			                                <div class="col-sm-6">
			                                    <div class="callout callout-success">
			                                        <small class="text-muted">Receitas do dia</small>
			                                        <br>
			                                        <strong class="h4">R$ 9.123,95</strong>
			                                    </div>
			                                </div>
			                                <!--/.col-->
			                                <div class="col-sm-6">
			                                    <div class="callout callout-danger">
			                                        <small class="text-muted">Despesas do dia</small>
			                                        <br>
			                                        <strong class="h4">R$ 871,10</strong>
			                                    </div>
			                                </div>
			                                <!--/.col-->
			                            </div>
			                            <div class="row">
			                                <div class="col-sm-6">
			                                    <div class="callout callout-success">
			                                        <small class="text-muted">Receitas do mês</small>
			                                        <br>
			                                        <strong class="h4">R$ 19.455,00</strong>
			                                    </div>
			                                </div>
			                                <!--/.col-->
			                                <div class="col-sm-6">
			                                    <div class="callout callout-danger">
			                                        <small class="text-muted">Despesas do mês</small>
			                                        <br>
			                                        <strong class="h4">R$ 2.643,98</strong>
			                                    </div>
			                                </div>
			                                <!--/.col-->
			                            </div>
			                            <!--/.row-->
			                            <hr class="mt-0">
					                </div>
					            </div>
			                </div>
			            </div>
			        </div>
			        <!--/.col-->
			    </div>
			    <!--/.row-->

			</div>
        </div>
        <!-- /.container-fluid -->
    </main>

	{{^profile.attributes.isAdmin}}
		{{> sidebar}}
	{{/profile.attributes.isAdmin}}		
	{{> footer}}
	{{> javascript}}
</body>
</html>