    <footer class="footer">
        <span class="text-left">
            Done &copy; 2016
        </span>
        <span class="float-xs-right">
            Todos os direitos reservados.
        </span>
    </footer>