<!DOCTYPE html>
<html lang="en">
<head>
	<title>Done - Forgot password</title>
	{{> meta}}
	{{> stylesheet}}
</head>

<body>

   <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card mx-2">
                        <div class="card-block p-2">
                            <h1>Forgot password</h1>
                            <p class="text-muted">Create your account</p>
                            <div class="input-group mb-1">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <button type="button" class="btn btn-block btn-success">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	{{> javascript}}
</body>
</html>