<header class="navbar">
    <div class="container-fluid">
        {{#profile}}
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>
        {{/profile}}
        <a class="navbar-brand" href="#">
        	<img src="" alt="[DONE]"/>
        </a>
        <ul class="nav navbar-nav float-xs-right hidden-md-down">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/images/avatars/7.jpg" class="img-avatar">
                    <span class="hidden-md-down">{{profile.id}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/profile"><i class="fa fa-user"></i> Perfil</a>
                    <a class="dropdown-item" href="/payments"><i class="fa fa-usd"></i> Pagamentos<span class="tag tag-default">1</span></a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="/logout?url=/?forcepostlogouturl"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
            <li class="nav-item">
                {{^profile.attributes.isAdmin}}
                    <a class="nav-link aside-toggle" href="#">☰</a>
                {{/profile.attributes.isAdmin}}
            </li>                    
        </ul>
    </div>
</header>