<!DOCTYPE html>
<html lang="en">
<head>
	<title>Done</title>
	{{> meta}}
	{{> stylesheet}}
</head>

<body>
	<h2>SITE INSTITUCIONAL</h2>

	<a href="/loginForm">Login</a><br />

	{{> javascript}}
</body>
</html>