<!DOCTYPE html>
<html lang="en">
<head>
	<title>Done</title>
	{{> meta}}
	{{> stylesheet}}
</head>

<body>
	{{> header}}

	<h1>SITE INSTITUCIONAL</h1>

	<a href="/loginForm">Login</a><br />
	<br />

	<a href="/logout?url=/?forcepostlogouturl">Logout</a>
	<br /><br />
	Profile: {{profile}}

	{{> javascript}}
</body>
</html>