<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                MENU
            </li>
            {{#profile.attributes.isAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard"><i class="icon-speedometer"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/finances"><i class="icon-wallet"></i> Financeiro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/exercises"><i class="icon-book-open"></i> Exercícios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/licenses"><i class="icon-check"></i> Licenças</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users"><i class="icon-people"></i> Usuários</a>
                </li>
            {{/profile.attributes.isAdmin}}

            {{^profile.attributes.isAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard"><i class="icon-speedometer"></i> Dashboard <span class="tag tag-info">NEW</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/finances"><i class="icon-wallet"></i> Financeiro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar"><i class="icon-calendar"></i> Agenda</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-energy"></i> Treinos</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="/exercises"><i class="icon-book-open"></i> Exercícios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/programs"><i class="icon-notebook"></i> Programas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/trainings"><i class="icon-note"></i> Fichas</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups"><i class="icon-layers"></i> Turmas</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> Alunos</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="/students"><i class="fa fa-table"></i> Lista de alunos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student"><i class="icon-user-follow"></i> Novo aluno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/exam"><i class="icon-badge"></i> Avaliações</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-drawer"></i> Documentos</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="/contracts"><i class="icon-docs"></i> Contratos</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upgrade"><i class="icon-rocket"></i> Upgrade</a>
                </li>
            {{/profile.attributes.isAdmin}}
        </ul>
    </nav>
</div>
