<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                MENU
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"><i class="icon-speedometer"></i> Dashboard <span class="tag tag-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/library"><i class="icon-wallet"></i> Financeiro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/library"><i class="icon-calendar"></i> Agenda</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-energy"></i> Treinos</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/pupil/add"><i class="icon-book-open"></i> Exercícios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pupil/add"><i class="icon-notebook"></i> Programa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pupil/add"><i class="icon-note"></i> Fichas</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/library"><i class="icon-layers"></i> Turmas</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> Alunos</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/pupils"><i class="fa fa-table"></i> Lista de alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pupil/add"><i class="icon-user-follow"></i> Novo aluno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="components-cards.html"><i class="icon-badge"></i> Avaliações</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-drawer"></i> Documentos</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/pupils"><i class="icon-docs"></i> Contratos</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upgrade"><i class="icon-rocket"></i> Upgrade</a>
            </li>
        </ul>
    </nav>
</div>
