<!DOCTYPE html>
<html lang="en">
<head>
	<title>Done - Programa</title>
	{{> meta}}
	{{> stylesheet}}
</head>

<body class="navbar-fixed sidebar-nav fixed-nav {{^profile.attributes.isAdmin}}aside-menu-open{{/profile.attributes.isAdmin}}">
	{{> header}}
	{{> menu}}

    <main class="main">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Programa</li>
        </ol>

        <div class="container-fluid">
            <div class="animated fadeIn">
			    <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Programa </strong>Form
                            </div>
                            <div class="card-block">
                                <form action="" method="post" class="form-horizontal ">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="hf-email">Título</label>
                                        <div class="col-md-9">
                                            <input id="hf-email" name="hf-email" class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="hf-password">Objetivo</label>
                                        <div class="col-md-9">
                                            <select id="select" name="select" class="form-control" size="1">
                                                <option value="0">Selecione</option>
                                                <option value="1">Option #1</option>
                                                <option value="2">Option #2</option>
                                                <option value="3">Option #3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="hf-email">Início</label>
                                        <div class="col-md-9">
                                            <input id="hf-email" name="hf-email" class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="hf-email">Fim</label>
                                        <div class="col-md-9">
                                            <input id="hf-email" name="hf-email" class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="hf-email">Observações</label>
                                        <div class="col-md-9">
                                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Salvar</button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>
			    </div>
			</div>
        </div>
    </main>

	{{^profile.attributes.isAdmin}}
		{{> sidebar}}
	{{/profile.attributes.isAdmin}}		
	{{> footer}}
	{{> javascript}}
</body>
</html>